/* FORMULAIRE NEWS LETTER */

*
{
    font-family: helvetica,sans-serif
}

#contact
{
    padding: 60px; 0;
    text-align: center;
}
#contact h3
{
    width: 400px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #F1C40F;
    padding: 20px;
}
form
{
    margin: 60px 0 20px 0;
}
label
{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}
input [type="text"]
{
    padding: 10px;
    font-size: 20px;
    margin-right: 20 px;
    border: 2px solid #ddd;
    border-radius: 3px;
}
.button3
{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #F1c40F;
    border-style: none;
    border-radius: 3px;
}
.button3:hover
{
    color: #fff;
    background-color: #F1c40F;
 }